.login-form {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  height: 100%;
  
}
.App {
  background-image: url('https://cdn.wallpaperhi.com/2560x1600/20131103/minimalistic%20trees%20simple%20background%20white%20background_www.wallpaperhi.com_2.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  background-position: center;
}
